body {
  background-color: lightpink;
}

h1 {
  color: lightred;
  margin-left: 5px;
}
* {
  text-align: center;
  color: purple;
}
h1{
  text-align: left;
  color: red;
}
p {
  color: darkgreen;
  text-align: center;
}

#paragraph1 {
  text-align: center;
  color: red;
}
.center {
  text-align: center;
  color: red;
}
